body {
  background-image:url(../img/fondo.jpg);
  color: #000;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed
}

.fondo{
  background-color: rgba(0,194,255,.5);
  }

.title{
  float: left;
  color: white;
}

.verticalLine{
  border-right: 2px solid white;
  height: 22vh;
  width: 2px;
}

hr{
  border: 0;
  border-top: 2px solid white;
  width: 100%;
}

.callout{
  background-color: rgba(255,214,225,.8);
}

.contenido{
  background-color: rgba(255,214,225,.9);
}

.recetas img:hover{
  -webkit-transform: scale(2.5);
  transform: scale(2.5);
}

.historial{
  border: 1px solid rgba(0,194,255,.8);
  padding: 5px;
  border-radius: 3px;
}

.historial ul{
  border-top: 1px solid rgba(0,194,255,.8);
}

.contenido img{
  width: 100%;
}

textarea{
  resize: none;
  margin-bottom: 0;

}

.publicar{
  margin-top: 0;

}

.comer{
  margin-bottom: 6px;
  margin-top: 6px;
}

.avatar img{
  width: 90px;
  height: 90px;
  margin: 0;
}


.comentarios span{
  font-weight: bold;
}

.comentarios p{

  margin-left: 6px;
}
